/target
/.vs/
/dist/
/release/
/diffuse_runtime/build-chatty/
/diffuse_runtime_zip_backup/
/diffuse_runtime/.git
/diffuse_runtime/**/.git
/diffuse_runtime/examples/server/frontend/node_modules/
/audio_runtime/stable_audio_venv/
/audio_runtime/**/.venv/
/models/*
!/models/.gitkeep
/input/audio/*
!/input/audio/.gitkeep
/input/images/*
!/input/images/.gitkeep
/input/video/*
!/input/video/.gitkeep
/outputs/audio/*
!/outputs/audio/.gitkeep
/outputs/gif/*
!/outputs/gif/.gitkeep
/outputs/image/*
!/outputs/image/.gitkeep
/outputs/video/*
!/outputs/video/.gitkeep
/workflows/*
!/workflows/.gitkeep
/Thumbs.db
/.DS_Store
/node_modules/
/tmp_*
/sdcli-help.txt
/stable_audio_server.out.log
/stable_audio_server.err.log
*.log
*.pyc
*.pyo
__pycache__/
*.egg-info/
.pytest_cache/
.mypy_cache/
